$tomato: #f25b30;
$white: #ffffff;
$black: #282828;
$warm-grey: #6f6f6f;
$tomato-two: #f05b30;
$coral-pink: #fd5d6e;
$melon: #fb7c59;
$mango: #fdb02a;
$tomato-three: #ee5a29;
$mango-two: #ffaf2a;
$white-two: #d8d8d8;
$white-three: #e4e2e2;
$white-four: #f0f0f0;
$tomato-four: #f05a30;
$warm-grey-two: #949494;
$black-two: #1d1d1d;
$light-peach: #ffdaaa;
$brownish-grey: #5c5c5c;
$white-five: #e9e9e9;
