._about_accops {
  .item {
    &:last-child {
      .acps_card {
        margin-bottom: 0;
      }
    }
  }
  .acps_card {
    margin-bottom: 40px;
    @media screen and (min-width: 993px) {
      height: 100%;
    }
    .about_image {
      height: 164px;
      object-fit: cover;
      border-radius: 12px;
      @media screen and (min-width: 993px) {
        height: 250px;
      }
    }
    .card_title {
      @include Text-Style-4;
    }
    .description {
      @include Text-Style-5;
    }
  }
}
