.accops_header {
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: 0.2s all ease-in-out;
  @media screen and (max-width: 768px) {
    padding: 15px 0;
  }
  &.shrink {
    background: $white;
    padding: 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    .mega_menu {
      // top: 140%;
    }

    .accops_logo {
      width: 80px;
    }
    .nav-link {
      font-size: 20px;
      @media screen and (max-width: 992px) {
        font-size: 14px;
      }
      &.dropdown_indicator {
        &::after {
          // bottom: -12px;
        }
      }
    }
  }
  .mega_menu {
    padding: 30px;
    background: $white;
    border-radius: 6px;
    top: 100%;
    left: 50px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.22);
    @media screen and (min-width: 993px) {
      .menu_items {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .menu_line {
        position: relative;
        flex: 1;
        margin-left: 10px;
        &::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: 10px;
          background-color: $tomato-two;
        }
      }
    }

    @media screen and (max-width: 992px) {
      position: static !important;
      box-shadow: none;
      padding: 0;
    }
    &:nth-child(2) {
      &:after {
        left: 20%;
      }
    }

    .head {
      @include Text-Style-30;
      .highlighted_text {
        color: $tomato-two;
      }
    }
    .item_wrapper {
      padding: 10px 0;
    }
    .title {
      @include Text-Style-31;
      transition: 0.3s all ease-in-out;
      @media screen and (min-width: 993px) {
        &:hover {
          color: $tomato-two;
        }
      }
      @media screen and (max-width: 992px) {
        @include Text-Style-34;
        padding: 0 5px;
      }
    }
    .desc {
      @include Text-Style-32;
    }
  }
  .logo {
    @media screen and (max-width: 992px) {
      flex: 0 0 20%;
    }
    @media screen and (min-width: 993px) {
      padding: 15px 0;
    }
    .accops_logo {
      height: 50px;
      width: 150px;
      object-fit: contain;
    }
  }
  .hamburger_icon {
    @media screen and (max-width: 992px) {
      flex: 0 0 80%;
      text-align: right;
    }
  }
  .nav-link {
    @include Text-Style-30;
    padding: 0;
    transition: 0.3s all ease-in-out;
    margin: 0 30px;
    @media screen and (min-width: 993px) {
      padding: 15px 0;
    }
    @media screen and (max-width: 992px) {
      padding: 15px 0;
      margin: 0;
      @include Text-Style-33;
    }
    &.dropdown_indicator {
      position: relative;
      z-index: 1;
      @media screen and (max-width: 992px) {
        margin: 0 -20px;
        padding: 15px 20px 15px 20px;
        &::after {
          content: none !important;
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $white;
        clear: both;
        transform: rotate(-180deg);
      }
    }
  }
  .head_navigation {
    padding-left: 100px;
    @media screen and (max-width: 992px) {
      padding: 30px 20px;
      position: fixed !important;
      top: 0;
      left: 0;
      min-height: 100vh;
      max-height: 100%;
      overflow-y: auto;
      width: 85vw;
      box-shadow: 1px 0 19px 0 rgba(204, 204, 204, 0.5);
      background-color: $white;
      transform: translateX(-100%);
      transition: 0.4s all ease-in-out;
      z-index: 5;
      &.openDrawer {
        transform: translateX(0);
      }
      .logo {
        margin-bottom: 15px;

        .accops_logo {
          width: 70px;
          height: 15px;
        }
      }
      .nav-item {
        width: 100%;
      }
      ul {
        flex-direction: column;
      }
    }
  }
  .close_drawer {
    transform: translateX(100%);
    transition: 0.3s all ease-in-out;
    background: white;
    opacity: 0;
    &.close {
      transform: translateX(0);
      height: 100%;
      width: 15vw;
      position: fixed;
      right: 0;
      bottom: 0;
      opacity: 0.95;
    }
  }

  // menu open state in mobile
  @media screen and (max-width: 992px) {
    .menu_open_state {
      .title * {
        color: $tomato-two;
      }
      .mega_menu {
        background-color: rgba(255, 218, 170, 0.23);
        border-radius: 0;
        @include Text-Style-38;
        padding-bottom: 10px;
      }
      .dropdown_indicator {
        background-color: rgba(255, 218, 170, 0.23);
        color: $tomato-two;
      }
    }
  }
}
