._accops_video_popup {
  .image_wrapper {
    transform: translateX(-15px);
    width: calc(100% + 30px);
    @media screen and (min-width: 993px) {
      transform: translateX(0);
      width: 100%;
    }
    .thumbnail_image {
      width: 100%;
      height: 150px;
      object-fit: cover;
      @media screen and (min-width: 993px) {
        height: 550px;
        border-radius: 12px;
      }
    }
    .btn-primary {
      color: $white;
      background-color: $white;
      border: none;
      width: 0;
      padding: 0;
      &:focus {
        outline: none;
        box-shadow: 0;
      }
      &:active {
        color: $white;
        background-color: $white;
        border: none;
      }
    }
    .play_btn {
      @include absolute($top: 50%, $left: 50%, $right: unset, $bottom: unset, $transform: translate(-50%, -50%));
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 1px solid $mango-two;
      transition: 0.3s all ease-in-out;
      z-index: 2;
      img {
        filter: none;
        transition: 0.5s all ease-in-out;
      }
      &:hover {
        background: $mango-two;
        img {
          filter: brightness(0) invert(1);
        }
      }
      @media screen and (min-width: 993px) {
        width: 50px;
        height: 50px;
      }
    }
  }
  .desc {
    @include Text-Style-9;
  }
}
.modal-header {
  border: none;
  display: flex;
  justify-content: flex-end;
}
.modal-footer {
  display: none;
}
.btn-secondary {
  background-color: $white;
  @include Text-Style-6;
  border: solid 1px $tomato-two;
}
