._customer_stories {
  .heading {
    margin-bottom: 10px;
  }
  // tab body scss
  .tab_image {
    width: calc(100% + 200px);
    -webkit-transform: translateX(-30%);
    transform: translateX(-200px);
    position: relative;
    z-index: -1;
    height: 610px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .tab_content {
    opacity: 0.9;
    border-radius: 12px;
    background-color: $tomato-two;
    padding: 20px;
    @media screen and (min-width: 993px) {
      padding: 50px;
      width: calc(100% + 200px);
    }

    .item_head {
      .title {
        @include Text-Style-23;
        @media screen and (min-width: 993px) {
          margin-bottom: 10px;
        }
      }
    }
    .desc {
      @include Text-Style-24;
      @media screen and (min-width: 993px) {
        @include Text-Style-25;
      }
    }
  }
  .nav-tabs {
    margin-bottom: 30px;

    @media screen and (min-width: 993px) {
      margin-bottom: 100px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .features_wrapper {
    padding: 15px 0;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      display: inline-block;
      width: 49%;
    }
    @media screen and (min-width: 993px) {
      display: inline-block;
      width: 49%;
      .image_wrapper {
        display: inline-block;
        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
        }
      }
    }
    .desc {
      @media screen and (min-width: 993px) {
        font-size: 20px;
        display: inline-block;
        width: 78%;
        vertical-align: middle;
        padding-left: 20px;
      }
    }
  }
  .item_head {
    @media screen and (min-width: 993px) {
      margin-bottom: 20px;
    }
  }
  .cta {
    .accops_btn {
      background: white;
    }
    @media screen and (min-width: 993px) {
      margin-top: 40px;
    }
  }
}
